table[b-hn8lsfub33] {
    width: 100%;
}

img[b-hn8lsfub33] {
    width: 64px;
    height: 64px;
}

table[b-hn8lsfub33], td[b-hn8lsfub33], th[b-hn8lsfub33] {
    border: 1px solid;
    height: 67px;
}

table[b-hn8lsfub33] {
    width: 100%;
    border-collapse: collapse;
}