img[b-mi7eb6b1jy] {
    width: 128px;
    height: 128px;
}

input[b-mi7eb6b1jy]{
    width: 150px;
}

#all[b-mi7eb6b1jy]{
    width: 600px;
    height: 300px;
}

#in[b-mi7eb6b1jy]{
    width: 300px;
    height: 300px;
    float:left;
    display: inline-block;
}
label[b-mi7eb6b1jy]{
    width: 100px;
}



